
a {
 text-decoration: underline;
 color:lightskyblue   
}

.clickable {
    cursor: pointer;
    transition: transform .2s;

  }
  
.clickable:hover {
    transform: scale(1.2);
    border:'1px solid white';

  }